# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries
dist/
build/
coverage/

# Database
*.sqlite
*.sqlite3
*.db
*.pid
dump.rdb
*.mongodb

# Editor & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
